<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="extension.fishlee.net" version="1.2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="network.fishlee.net" version="1.5.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1-beta3" targetFramework="net45" userInstalled="true" />
</packages>